<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="scott.jp.wrestlekingdom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mattisbroke"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VideoActivity"></activity>
        <activity android:name=".BattleActivity" android:screenOrientation="landscape"></activity>
        <provider
            android:authorities="scott.jp.wrestlekingdom"
            android:name=".WrestlerProvider"></provider>
    </application>

</manifest>